.header {
	background: #3564e2;
	padding: 15px 110px;
	.header-content {
		display: flex;
		align-items: center;
	}
	h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		color: #ffffff;
		margin-left: 10px;
	}
	img {
		margin: 0 7px;
	}
}
@media (max-width: 900px) {
	.header {
		padding: 15px 10px;
		.header-content {
			margin-top: 10px;
		}
		h1 {
			font-size: 16px;
		}
		img {
			width: 40px;
			height: 40px;
		}
		.arrow {
			width: 23.04px;
			height: 24px;
		}
	}
}
